.bannerContainer {
  @apply flex items-center justify-center;
  width: 100dvw;
  height: 481px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../images/background.png');
  position: relative;
  top: -71px;
}

.bannerContainer > img {
  position: relative;
  top: 31px;
  border-radius: 100%;
  width: 270px;
  height: 270px;
}

.content {
  @apply flex items-center;
  width: 84.4dvw;
  gap: 1.5rem;
  position: relative;
  top: 1.5rem
}

.content > div {
  @apply flex justify-start;
  flex-direction: column;
  position: relative;
  top: -0.9rem;
}

.content > div > h1 {
  font-family: 'FuturaNow Headline Extra Bold', sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.content > div > h2 {
  color: var(--light-taupe);
  font-family: Hartwell Alt;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.links {
  @apply flex;
  gap: 1rem;
  position: relative;
  top: 1.5rem;
}

.links > a {
  @apply flex items-center;
  gap: 0.1rem;
  color: var(--iridium);
  font-family: Hartwell Alt;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity 0.3s ease
}

.links > a:hover {
  opacity: 0.7;
}