.bannerContainer {
  @apply flex items-center justify-center;
  width: 100%;
  height: 481px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../images/background.png');
  position: relative;
}

.bannerContainer > img {
  position: relative;
  top: 31px;
  border-radius: 100%;
  width: 270px;
  height: 270px;
}

.content {
  @apply flex items-center;
  width: 84.4dvw;
  max-width: 1900px;
  gap: 1.5rem;
  position: relative;
  top: 1.5rem
}

.content > div {
  @apply flex justify-start;
  flex-direction: column;
  position: relative;
  top: -0.9rem;
}

.content > div > h1 {
  font-family: 'FuturaNow Headline Extra Bold', sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.content > div > h2 {
  color: var(--light-taupe);
  font-family: Hartwell Alt;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.links {
  @apply flex;
  gap: 1rem;
  position: relative;
  top: 1.5rem;
}

.links > a {
  @apply flex items-center;
  gap: 0.1rem;
  color: var(--iridium);
  font-family: Hartwell Alt;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity 0.3s ease
}

.links > a:hover {
  opacity: 0.7;
}

@media (max-width: 1624px) {
  .bannerContainer {
    background-position-x: -180px;
  }
}

@media (max-width: 1560px) {
  .bannerContainer {
    background-position-x: -248px;
  }
}

@media (max-width: 1464px) {
  .bannerContainer {
    background-position-x: -298px;
  }
  .content > div > h1 {
    position: relative;
    scale: 0.8;
    right: 5rem;
  }
  .content > div > h2 {
    position: relative;
    scale: 0.81;
    right: 4.7rem;
  }
  .links > a {
    font-size: 1.6rem;
  }
  .content {
    top: 1.2rem
  }
}

@media (max-width: 1392px) {
  .bannerContainer {
    background-position-x: -29px;
  }
  .content {
    width: 101.4dvw;
  }
  .links > a {
    font-size: 2rem;
  }
}

@media (max-width: 1368px) {
  .bannerContainer {
    background-position-x: -60px;
  }
}

@media (max-width: 1312px) {
  .bannerContainer {
    background-position-x: -125px;
  }
}

@media (max-width: 1288px) {
  .bannerContainer {
    background-position-x: -160px;
  }
}

@media (max-width: 1260px) {
  .bannerContainer {
    background-position-x: -191px;
  }
}

@media (max-width: 1232px) {
  .bannerContainer {
    background-position-x: -234px;
  }
}

@media (max-width: 1200px) {
  .bannerContainer {
    background-position-x: -274px;
  }
}

@media (max-width: 1172px) {
  .bannerContainer {
    background-position-x: -308px;
  }
}

@media (max-width: 1140px) {
  .bannerContainer {
    background-position-x: -349px;
  }
}

@media (max-width: 1112px) {
  .bannerContainer {
    background-position-x: -386px;
  }
}

@media (max-width: 1084px) {
  .bannerContainer {
    background-position-x: -423px;
  }
}

@media (max-width: 1060px) {
  .bannerContainer {
    background-position-x: -453px;
  }
}