.projectsContainer {
  @apply flex items-center justify-center;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.projectsContainer > h2 {
  color: var(--light-taupe);
  font-family: Futura Now Headline;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.project {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  width: 84.4dvw;
  justify-content: center;
}

.project > img {
  width: 53.802dvw;
  height: auto;
  min-width: 24.1875rem;
  min-width: 14.3125rem;
  max-width: 100%;
  max-height: 39rem;
  flex-shrink: 0;
}

.project > div {
  display: flex;
  width: 30.1875rem;
  height: 11.375rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  top: -18px;
}

.project > div > p:nth-child(1) {
  color: var(--light-taupe);
  font-family: Futura Now Headline;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.project > div > p:nth-child(2) {
  color: var(--iridium);
  font-family: Futura Now Headline;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;  
}