.projectsContainer {
  @apply flex items-center justify-center;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.projectsContainer > h2 {
  color: var(--light-taupe);
  font-family: Futura Now Headline;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content {
  @apply flex items-center;
  flex-direction: column;
  gap: 2.5rem;
}

.project {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  width: 84.4dvw;
  justify-content: center;
  padding-bottom: 2.5rem;
  border-bottom: 2px solid var(--light-taupe);
  background: rgba(255, 255, 255, 0.46);
}

.project:last-child {
  border: none;
}

.project > img {
  width: 53.802dvw;
  height: auto;
  min-width: 24.1875rem;
  min-width: 14.3125rem;
  max-width: 100%;
  max-height: 39rem;
  flex-shrink: 0;
}

.project > div {
  display: flex;
  width: 30.1875rem;
  height: 11.375rem;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  top: -14px;
}

.project > div > a {
  @apply flex items-center;
  gap: 0.5rem;
  color: var(--light-taupe);
  font-family: Futura Now Headline;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.project > div > p:nth-child(1) {
  color: var(--light-taupe);
  font-family: Futura Now Headline;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.project > div > p:nth-child(2) {
  color: var(--iridium);
  font-family: Futura Now Headline;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;  
}

@media (max-width: 1687px) {
  .project {
    gap: 1.5rem;
    justify-content: space-between;
  }
}

@media (max-width: 1623px) {
  .project > div {
    width: 29.1875rem;
  }
}

@media (max-width: 1566px) {
  .project > div {
    width: 28.1875rem;
  }
}

@media (max-width: 1513px) {
  .project > div {
    width: 27.1875rem;
  }
}

@media (max-width: 1392px) {
  .project {
    width: 101.4dvw;
  }
  .project > img {
    width: 67.802dvw;
  }
}