@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@100;200;300&display=swap');

.whatsAppButton {
    display: flex;
    position: fixed;
    padding: 10px;
    width: 336px;
    height: 65px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsAppButton > p {
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}