html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*, p, b, span, div, h1, h2, h3, h4, h5, h6 {
  color: #161b3d;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
}

a:hover {
  color: #2821fc;
}

a:hover .icon-link {
  color: #2821fc;
}

.react-multi-carousel-list.container-slider {
  width: 100%;
}

.react-multi-carousel-item.slider-card {
  width: 250px !important;
  margin-right: 11px;
}

* {
  box-sizing: border-box;
}
